<template name="home">
  <div>
    <h1>picture element + picturefill</h1>
    <picture>
    	<!--[if IE 9]><video style="display: none;"><![endif]-->
    	<source srcset="/images/image_about_hero_xlrg.jpg" media="(min-width: 1000px)">
    	<source srcset="/images/image_about_hero_med.jpg" media="(min-width: 800px)">
    	<!--[if IE 9]></video><![endif]-->
    	<img srcset="/images/image_about_hero_sml.jpg" alt="A giant stone face at The Bayon temple in Angkor Thom, Cambodia">
    </picture>
  </div>
</template>
